[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.9"

[dev-packages]
black = "==21.7b0"
devtools = { extras = ["pygments"], version = "*" }
httpie = "*"
ipython = "*"
isort = "*"
pudb = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"

[packages]
asyncpg = "*"
delorean = "*"
fastapi = "*"
gunicorn = "*"
httpx = "*"
psycopg2 = "*"
pydantic = {extras = ["dotenv"], version = "*"}
python-dotenv = "*"
sentry-sdk = "*"
sqlalchemy = "*"
uvicorn = {extras = [ "standard",], version = "*"}
